[submodule "third_party/colmap"]
	path = third_party/colmap
	url = https://github.com/colmap/colmap.git
[submodule "third_party/webxr3dvideo"]
	path = third_party/webxr3dvideo
	url = https://github.com/AnthonyDickson/webxr3dvideo.git
[submodule "third_party/tsdf_fusion_python"]
	path = third_party/tsdf_fusion_python
	url = https://github.com/AnthonyDickson/tsdf-fusion-python.git
[submodule "third_party/dpt"]
	path = third_party/dpt
	url = https://github.com/AnthonyDickson/DPT.git
[submodule "third_party/unreal_dataset"]
	path = third_party/unreal_dataset
	url = https://github.com/AnthonyDickson/UnrealDataset.git
[submodule "third_party/lama"]
	path = third_party/lama
	url = https://github.com/AnthonyDickson/lama.git
