[submodule "thirdparty/AdaBins"]
	path = thirdparty/AdaBins
	url = https://github.com/AnthonyDickson/AdaBins.git
[submodule "thirdparty/colmap"]
	path = thirdparty/colmap
	url = https://github.com/colmap/colmap.git
[submodule "thirdparty/webxr3dvideo"]
	path = thirdparty/webxr3dvideo
	url = https://github.com/AnthonyDickson/webxr3dvideo.git
[submodule "thirdparty/tsdf_fusion_python"]
	path = thirdparty/tsdf_fusion_python
	url = https://github.com/felixschrimper/tsdf-fusion-python.git
[submodule "thirdparty/adelai_depth"]
	path = thirdparty/adelai_depth
	url = https://github.com/AnthonyDickson/AdelaiDepth.git
[submodule "thirdparty/consistent_depth"]
	path = thirdparty/consistent_depth
	url = https://github.com/AnthonyDickson/consistent_video_depth.git
[submodule "thirdparty/dpt"]
	path = thirdparty/dpt
	url = https://github.com/AnthonyDickson/DPT.git
[submodule "thirdparty/unreal_dataset"]
	path = thirdparty/unreal_dataset
	url = https://github.com/AnthonyDickson/UnrealDataset.git
[submodule "thirdparty/lama"]
	path = thirdparty/lama
	url = https://github.com/AnthonyDickson/lama.git
